{% extends "base.html" %}

{% block content %}
	<h1>Author list</h1>
	{% if  authors %}
		<div class="container-fluid">
			{% for author in authors %}
				{% if forloop.counter|divisibleby:'4' or forloop.counter == 1 %}
					<div class="row">
				{% endif %}
				<div class="card col-sm-4">
					<div class="card-body">
						{% if author.pic %}
							<img src="{{ author.get_pic_url }}" class="img-thumbnail">
						{% else %}
							{% load static %}
							<img src="{% static "no-image.png" %}" class="img-thumbnail">
						{% endif %}
						<div class="card-title"> 
							<a href="{{ author.get_absolute_url }}"> {{ author.username }}</a>
						</div>
						<div class="card-text">
							<p>{{ author.bio }}</p>
						</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:'3' %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<p> There is no author. </p>
	{% endif %}
{% endblock %}