{% extends "base.html" %}
{% block content %}
<h1> Post </h1>
{% if object %}
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">
				Title: {{ object.title }}
			</h3>
			Content: {{object.content | linebreaks}}
		</div>
	</div>
	{% if comments %}
			<p> Comments : </p>
			{% for comment in comments %}
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<a href="{{ comment.get_absolute_url }}">{{ comment.title}}</a>
						</h3>
						{{ comment.comment | linebreaks }}
					</div>
				</div>
			{% endfor %}
	{% else %}
		<p>There is no comment.</p>
	{% endif %}
		<p><a href="{% url 'comment-create' object.pk %}"> Post a comment </a></p>
{% else %}
	<p> The post does not exist.
{% endif %}
{% endblock %}